@font-face {
  font-family: 'clicon';
  src:  url('fonts/clicon.eot?bo48d0');
  src:  url('fonts/clicon.eot?bo48d0#iefix') format('embedded-opentype'),
    url('fonts/clicon.ttf?bo48d0') format('truetype'),
    url('fonts/clicon.woff?bo48d0') format('woff'),
    url('fonts/clicon.svg?bo48d0#clicon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

.clicon {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'clicon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-xiaxian:before {
  content: "\e9d3";
}
.icon-sy_choujiang:before {
  content: "\e9b6";
}
.icon-sy_dashboard:before {
  content: "\e9b9";
}
.icon-sy_duanxin:before {
  content: "\e9ba";
}
.icon-sy_erweimapng:before {
  content: "\e9bb";
}
.icon-sy_fenxi:before {
  content: "\e9bc";
}
.icon-sy_huiyuan:before {
  content: "\e9bd";
}
.icon-sy_kehu:before {
  content: "\e9be";
}
.icon-sy_meitishuju:before {
  content: "\e9bf";
}
.icon-sy_mubanxiaoxi:before {
  content: "\e9c0";
}
.icon-sy_qunzu:before {
  content: "\e9c1";
}
.icon-sy_shangpin:before {
  content: "\e9c2";
}
.icon-sy_tuiguang:before {
  content: "\e9c3";
}
.icon-sy_wangzhan:before {
  content: "\e9c4";
}
.icon-sy_weixin:before {
  content: "\e9c5";
}
.icon-sy_weiyemian:before {
  content: "\e9c6";
}
.icon-sy_xiaochengxu:before {
  content: "\e9c7";
}
.icon-sy_youjian:before {
  content: "\e9c8";
}
.icon-sy_zidongliucheng:before {
  content: "\e9c9";
}
.icon-yanzhengma:before {
  content: "\e9da";
}
.icon-yonghuzu:before {
  content: "\e9d9";
}
.icon-gongxiang:before {
  content: "\e9d7";
}
.icon-yichu:before {
  content: "\e9d8";
}
.icon-xingweifenxi:before {
  content: "\e9d4";
}
.icon-fenxiweidu:before {
  content: "\e9d5";
}
.icon-idguanli:before {
  content: "\e9d6";
}
.icon-shijianqupanduan:before {
  content: "\e9d2";
}
.icon-zidingshijian:before {
  content: "\e9d1";
}
.icon-shujujiance:before {
  content: "\e9cf";
}
.icon-zhifubaoshenghuohao:before {
  content: "\e9d0";
}
.icon-kehubiaoqian:before {
  content: "\e9cd";
}
.icon-weixinbiaoqian:before {
  content: "\e9ce";
}
.icon-kehujieduan:before {
  content: "\e9cc";
}
.icon-shuzhi:before {
  content: "\e9ca";
}
.icon-wenben:before {
  content: "\e9cb";
}
.icon-shangpin:before {
  content: "\e9b4";
}
.icon-wuquanxian:before {
  content: "\e9b5";
}
.icon-hudongneirog:before {
  content: "\e9b3";
}
.icon-jiange:before {
  content: "\e9b2";
}
.icon-lujingfenxi:before {
  content: "\e9b1";
}
.icon-diqu:before {
  content: "\e900";
}
.icon-jinbi:before {
  content: "\e901";
}
.icon-duanxin:before {
  content: "\e902";
}
.icon-gouwuche:before {
  content: "\e903";
}
.icon-gongzuoliu:before {
  content: "\e904";
}
.icon-kaquan:before {
  content: "\e905";
}
.icon-huangguan:before {
  content: "\e906";
}
.icon-kehu:before {
  content: "\e907";
}
.icon-kehubaifang:before {
  content: "\e908";
}
.icon-liwu:before {
  content: "\e909";
}
.icon-renwu:before {
  content: "\e90a";
}
.icon-shijianzhou:before {
  content: "\e90b";
}
.icon-shouji:before {
  content: "\e90c";
}
.icon-tijiaochenggong:before {
  content: "\e90d";
}
.icon-weixin:before {
  content: "\e90e";
}
.icon-youhuiquan:before {
  content: "\e90f";
}
.icon-youjian:before {
  content: "\e910";
}
.icon-guize:before {
  content: "\e911";
}
.icon-dingdan:before {
  content: "\e912";
}
.icon-gaikuang:before {
  content: "\e913";
}
.icon-huiyuanzongshu:before {
  content: "\e914";
}
.icon-jinbiyue:before {
  content: "\e915";
}
.icon-tuikuan:before {
  content: "\e916";
}
.icon-baocun:before {
  content: "\e917";
}
.icon-erjicaidan:before {
  content: "\e918";
}
.icon-fuzhi:before {
  content: "\e919";
}
.icon-sousuo:before {
  content: "\e91a";
}
.icon-tupian:before {
  content: "\e91b";
}
.icon-zidingyicaidan:before {
  content: "\e91c";
}
.icon-lianjie:before {
  content: "\e91d";
}
.icon-app:before {
  content: "\e91e";
}
.icon-crm:before {
  content: "\e91f";
}
.icon-xitongshijian:before {
  content: "\e920";
}
.icon-momo:before {
  content: "\e921";
}
.icon-qitashenfen:before {
  content: "\e922";
}
.icon-qq:before {
  content: "\e923";
}
.icon-shangcheng:before {
  content: "\e924";
}
.icon-taobao:before {
  content: "\e925";
}
.icon-weibo:before {
  content: "\e926";
}
.icon-youzan:before {
  content: "\e927";
}
.icon-zhifubao:before {
  content: "\e928";
}
.icon-abstart:before {
  content: "\e929";
}
.icon-abend:before {
  content: "\e92a";
}
.icon-appxiaoxituisong:before {
  content: "\e92b";
}
.icon-dingshifasong:before {
  content: "\e92c";
}
.icon-fengzhi:before {
  content: "\e92d";
}
.icon-jilu:before {
  content: "\e92e";
}
.icon-kehuleiji:before {
  content: "\e92f";
}
.icon-lianwang:before {
  content: "\e930";
}
.icon-liebiao:before {
  content: "\e931";
}
.icon-quxiao:before {
  content: "\e932";
}
.icon-xiaoxiliebiao:before {
  content: "\e933";
}
.icon-yingyongguanli:before {
  content: "\e934";
}
.icon-zengzhang:before {
  content: "\e935";
}
.icon-erweima:before {
  content: "\e936";
}
.icon-weixinmubanxiaoxi:before {
  content: "\e937";
}
.icon-zidonghuifu:before {
  content: "\e938";
}
.icon-jingdong:before {
  content: "\e939";
}
.icon-wentiyoujian:before {
  content: "\e93a";
}
.icon-jinggao:before {
  content: "\e93b";
}
.icon-tuodong:before {
  content: "\e93c";
}
.icon-fasongliebiao:before {
  content: "\e93d";
}
.icon-qunfajilu:before {
  content: "\e93e";
}
.icon-yumingshezhi:before {
  content: "\e93f";
}
.icon-bianji2:before {
  content: "\e940";
}
.icon-biaoqian:before {
  content: "\e941";
}
.icon-daochu:before {
  content: "\e942";
}
.icon-daoru:before {
  content: "\e943";
}
.icon-huoyuedu:before {
  content: "\e944";
}
.icon-jiaohuzujian:before {
  content: "\e945";
}
.icon-kehu2:before {
  content: "\e946";
}
.icon-loudou:before {
  content: "\e947";
}
.icon-luodiye:before {
  content: "\e948";
}
.icon-xinzengkehu:before {
  content: "\e949";
}
.icon-hebing:before {
  content: "\e94a";
}
.icon-shujumaidian:before {
  content: "\e94b";
}
.icon-tuanxinmuban:before {
  content: "\e94c";
}
.icon-weixinmubanxiaoxi2:before {
  content: "\e94d";
}
.icon-weixinshixin:before {
  content: "\e94e";
}
.icon-weiyemian:before {
  content: "\e94f";
}
.icon-xinjian:before {
  content: "\e950";
}
.icon-youjianmuban:before {
  content: "\e951";
}
.icon-zhidinyichudian:before {
  content: "\e952";
}
.icon-zidingyi:before {
  content: "\e953";
}
.icon-zidongliucheng:before {
  content: "\e954";
}
.icon-zidongliuchengmuban:before {
  content: "\e955";
}
.icon-fangwenrenshu:before {
  content: "\e956";
}
.icon-hongbao:before {
  content: "\e957";
}
.icon-huiyuanshixin:before {
  content: "\e958";
}
.icon-liwu2:before {
  content: "\e959";
}
.icon-qianmingguanli:before {
  content: "\e95a";
}
.icon-biaoqianfenzhi:before {
  content: "\e95b";
}
.icon-zhekou:before {
  content: "\e95c";
}
.icon-yingxiaohuodong:before {
  content: "\e95d";
}
.icon-peiyu:before {
  content: "\e95e";
}
.icon-tongzhitixing:before {
  content: "\e95f";
}
.icon-gouwuche2:before {
  content: "\e960";
}
.icon-weizhi:before {
  content: "\e961";
}
.icon-tianmao:before {
  content: "\e962";
}
.icon-qunzu:before {
  content: "\e963";
}
.icon-chaxun:before {
  content: "\e964";
}
.icon-shoudong:before {
  content: "\e965";
}
.icon-wancheng2:before {
  content: "\e966";
}
.icon-kefu:before {
  content: "\e967";
}
.icon-quanyima:before {
  content: "\e968";
}
.icon-quanyimashezhi:before {
  content: "\e969";
}
.icon-shalou:before {
  content: "\e96a";
}
.icon-jiangbei:before {
  content: "\e96b";
}
.icon-tupian1x1:before {
  content: "\e96c";
}
.icon-tupian1x2:before {
  content: "\e96d";
}
.icon-tupian1x3:before {
  content: "\e96e";
}
.icon-youhuiquan2:before {
  content: "\e96f";
}
.icon-zuanshi:before {
  content: "\e970";
}
.icon-xianzhitiaojian:before {
  content: "\e971";
}
.icon-xitongbiaoqian:before {
  content: "\e972";
}
.icon-shouji2:before {
  content: "\e973";
}
.icon-shangchuantupian:before {
  content: "\e974";
}
.icon-moren:before {
  content: "\e975";
}
.icon-dengpao:before {
  content: "\e976";
}
.icon-shijianfenzhi:before {
  content: "\e977";
}
.icon-shuxingfenzhi:before {
  content: "\e978";
}
.icon-biaoti:before {
  content: "\e979";
}
.icon-chuanboxiaoguo:before {
  content: "\e97a";
}
.icon-uniE97B:before {
  content: "\e97b";
}
.icon-uniE97C:before {
  content: "\e97c";
}
.icon-h5:before {
  content: "\e97d";
}
.icon-tongzhi:before {
  content: "\e97e";
}
.icon-tongbu:before {
  content: "\e97f";
}
.icon-shangchuan:before {
  content: "\e980";
}
.icon-shijianpanduan:before {
  content: "\e981";
}
.icon-kehupanduan:before {
  content: "\e982";
}
.icon-tuiguanghuodong:before {
  content: "\e983";
}
.icon-quanxian:before {
  content: "\e984";
}
.icon-fanhui:before {
  content: "\e985";
}
.icon-jieshu:before {
  content: "\e986";
}
.icon-buji:before {
  content: "\e987";
}
.icon-bingji:before {
  content: "\e988";
}
.icon-jiaoji:before {
  content: "\e989";
}
.icon-xiaochengxu:before {
  content: "\e98a";
}
.icon-tuiguanghuodong2:before {
  content: "\e98b";
}
.icon-duibizu:before {
  content: "\e98c";
}
.icon-qiyeweixin:before {
  content: "\e98d";
}
.icon-zhinengqunzu:before {
  content: "\e98e";
}
.icon-qunzufenzhi:before {
  content: "\e98f";
}
.icon-mima:before {
  content: "\e990";
}
.icon-kehu3:before {
  content: "\e991";
}
.icon-neirongshezhi:before {
  content: "\e992";
}
.icon-huiyuanka:before {
  content: "\e993";
}
.icon-lingqurenshu:before {
  content: "\e994";
}
.icon-liulanzongshu:before {
  content: "\e995";
}
.icon-mubanxinxi:before {
  content: "\e996";
}
.icon-rukou:before {
  content: "\e997";
}
.icon-tijiaorenshu:before {
  content: "\e998";
}
.icon-toufang:before {
  content: "\e999";
}
.icon-daochujilu:before {
  content: "\e99a";
}
.icon-canyurenshu:before {
  content: "\e99b";
}
.icon-canyucishu:before {
  content: "\e99c";
}
.icon-kucun:before {
  content: "\e99d";
}
.icon-jiangpin:before {
  content: "\e99e";
}
.icon-weixintuwen:before {
  content: "\e99f";
}
.icon-wuneirong:before {
  content: "\e9a0";
}
.icon-huodongliebiao:before {
  content: "\e9a1";
}
.icon-xinfen:before {
  content: "\e9a2";
}
.icon-jinridingdan:before {
  content: "\e9a3";
}
.icon-dingdan1:before {
  content: "\e9a4";
}
.icon-qizi2:before {
  content: "\e9a5";
}
.icon-qizi:before {
  content: "\e9a6";
}
.icon-rili:before {
  content: "\e9a7";
}
.icon-shijian:before {
  content: "\e9a8";
}
.icon-tingzhi2:before {
  content: "\e9a9";
}
.icon-jiami:before {
  content: "\e9aa";
}
.icon-xiaochengxuma:before {
  content: "\e9ab";
}
.icon-buxianshi:before {
  content: "\e9ac";
}
.icon-idfa:before {
  content: "\e9ad";
}
.icon-imei:before {
  content: "\e9ae";
}
.icon-jifenzengjian:before {
  content: "\e9af";
}
.icon-jinjixiaxian:before {
  content: "\e9b0";
}
.icon-gonghai:before {
  content: "\e9b7";
}
.icon-zuzhi:before {
  content: "\e9b8";
}
