@font-face {
    font-family: "icon-member";
    src: url("/css/fonts/icon-member.eot");
    src: url("/css/fonts/icon-member.eot#iefix") format("embedded-opentype"),
        url("/css/fonts/icon-member.ttf") format("truetype"),
        url("/css/fonts/icon-member.woff") format("woff"),
        url("/css/fonts/icon-member.svg#icon-member") format("svg");
}
.icon-member, .icon-member:before {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: "icon-member";
    speak: none;
    line-height: 1;
    text-align: center;
    font-size: inherit;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    display: inline-block;
    vertical-align: baseline;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}
.anticon.icon-member:before {
    font-family: 'icon-member' !important;
    /*color: inherit !important;*/
}
.ant-menu .icon-huangguan:before {
    /* special fro MainMenu */
    font-size: 1.2em;
    position: relative;
    top: 0.1em;
}
.vertical-timeline-icon .icon-huiyuanshixin:before {
    /* special fro TimeLine */
    font-size: 1.3em;
    position: relative;
    top: -0.1em;
}

/* --------- detail icon class --------- */

.icon-member.icon-hongbao:before {
    content: "\e957";
}
.icon-member.icon-huiyuanshixin:before {
    content: "\e958";
}
.icon-member.icon-liwu2:before {
    content: "\e959";
}
.icon-member.icon-wancheng:before {
    content: "\e95b";
}
.icon-member.icon-zhekou:before {
    content: "\e95c";
}
.icon-member.icon-daochujilu:before {
    content: "\e956";
}
.icon-member.icon-yingxiaohuodong:before {
    content: "\e95d";
}
.icon-member.icon-bianji:before {
    content: "\e940";
}
.icon-member.icon-biaoqian:before {
    content: "\e941";
}
.icon-member.icon-daochu:before {
    content: "\e942";
}
.icon-member.icon-daoru:before {
    content: "\e943";
}
.icon-member.icon-huoyuedu:before {
    content: "\e944";
}
.icon-member.icon-jiaohuzujian:before {
    content: "\e945";
}
.icon-member.icon-kehu2:before {
    content: "\e946";
}
.icon-member.icon-loudou:before {
    content: "\e947";
}
.icon-member.icon-luodiye:before {
    content: "\e948";
}
.icon-member.icon-shanchu:before {
    content: "\e949";
}
.icon-member.icon-shezhi:before {
    content: "\e94a";
}
.icon-member.icon-shujumaidian:before {
    content: "\e94b";
}
.icon-member.icon-tuanxinmuban:before {
    content: "\e94c";
}
.icon-member.icon-weixinmubanxiaoxi2:before {
    content: "\e94d";
}
.icon-member.icon-weixinshixin:before {
    content: "\e94e";
}
.icon-member.icon-weiyemian:before {
    content: "\e94f";
}
.icon-member.icon-xinjian:before {
    content: "\e950";
}
.icon-member.icon-youjianmuban:before {
    content: "\e951";
}
.icon-member.icon-zhidinyichudian:before {
    content: "\e952";
}
.icon-member.icon-zidingyi:before {
    content: "\e953";
}
.icon-member.icon-zidongliucheng:before {
    content: "\e954";
}
.icon-member.icon-zidongliuchengmuban:before {
    content: "\e955";
}
.icon-member.icon-qianmingguanli:before {
    content: "\e95a";
}
.icon-member.icon-weixinmubanxiaoxi:before {
    content: "\e937";
}
.icon-member.icon-jinggao:before {
    content: "\e93b";
}
.icon-member.icon-tuodong:before {
    content: "\e93c";
}
.icon-member.icon-fasongliebiao:before {
    content: "\e93d";
}
.icon-member.icon-qunfajilu:before {
    content: "\e93e";
}
.icon-member.icon-yumingshezhi:before {
    content: "\e93f";
}
.icon-member.icon-appxiaoxituisong:before {
    content: "\e92b";
}
.icon-member.icon-dingshifasong:before {
    content: "\e92c";
}
.icon-member.icon-fengzhi:before {
    content: "\e92d";
}
.icon-member.icon-jilu:before {
    content: "\e92e";
}
.icon-member.icon-kehuleiji:before {
    content: "\e92f";
}
.icon-member.icon-lianwang:before {
    content: "\e930";
}
.icon-member.icon-liebiao:before {
    content: "\e931";
}
.icon-member.icon-quxiao:before {
    content: "\e932";
}
.icon-member.icon-xiaoxiliebiao:before {
    content: "\e933";
}
.icon-member.icon-yingyongguanli:before {
    content: "\e934";
}
.icon-member.icon-zengzhang:before {
    content: "\e935";
}
.icon-member.icon-erweima:before {
    content: "\e936";
}
.icon-member.icon-zidonghuifu:before {
    content: "\e938";
}
.icon-member.icon-abend:before {
    content: "\e929";
}
.icon-member.icon-abstart:before {
    content: "\e92a";
}
.icon-member.icon-app:before {
    content: "\e91e";
}
.icon-member.icon-crm:before {
    content: "\e91f";
}
.icon-member.icon-jingdong:before {
    content: "\e920";
}
.icon-member.icon-momo:before {
    content: "\e921";
}
.icon-member.icon-qitashenfen:before {
    content: "\e922";
}
.icon-member.icon-qq:before {
    content: "\e923";
}
.icon-member.icon-shangcheng:before {
    content: "\e924";
}
.icon-member.icon-taobao:before {
    content: "\e925";
}
.icon-member.icon-weibo:before {
    content: "\e926";
}
.icon-member.icon-youzan:before {
    content: "\e927";
}
.icon-member.icon-zhifubao:before {
    content: "\e928";
}
.icon-member.icon-xitongshijian:before {
    content: "\e91d";
}
.icon-member.icon-baocun:before {
    content: "\e917";
}
.icon-member.icon-erjicaidan:before {
    content: "\e918";
}
.icon-member.icon-fuzhi:before {
    content: "\e919";
}
.icon-member.icon-lianjie:before {
    content: "\e91a";
}
.icon-member.icon-tupian:before {
    content: "\e91b";
}
.icon-member.icon-zidingyicaidan:before {
    content: "\e91c";
}
.icon-member.icon-dingdan:before {
    content: "\e912";
}
.icon-member.icon-gaikuang:before {
    content: "\e913";
}
.icon-member.icon-huiyuanzongshu:before {
    content: "\e914";
}
.icon-member.icon-jinbiyue:before {
    content: "\e915";
}
.icon-member.icon-tuikuan:before {
    content: "\e916";
}
.icon-member.icon-youhuiquan2:before {
    content: "\e939";
}
.icon-member.icon-guize:before {
    content: "\e911";
}
.icon-member.icon-jinbi:before {
    content: "\e900";
}
.icon-member.icon-duanxin:before {
    content: "\e901";
}
.icon-member.icon-gongzuoliu:before {
    content: "\e902";
}
.icon-member.icon-gouwuche:before {
    content: "\e903";
}
.icon-member.icon-huangguan:before {
    content: "\e904";
}
.icon-member.icon-kaquan:before {
    content: "\e905";
}
.icon-member.icon-kehu:before {
    content: "\e906";
}
.icon-member.icon-kehubaifang:before {
    content: "\e907";
}
.icon-member.icon-liwu:before {
    content: "\e908";
}
.icon-member.icon-renwu:before {
    content: "\e909";
}
.icon-member.icon-shijianzhou:before {
    content: "\e90a";
}
.icon-member.icon-shouji:before {
    content: "\e90b";
}
.icon-member.icon-tijiaochenggong:before {
    content: "\e90c";
}
.icon-member.icon-weixin:before {
    content: "\e90d";
}
.icon-member.icon-youhuiquan:before {
    content: "\e90e";
}
.icon-member.icon-youjian:before {
    content: "\e90f";
}
.icon-member.icon-zuanshi:before {
    content: "\e910";
}
.icon-member.icon-wentiyoujian:before {
    content: "\e93a";
}
.icon-member.icon-spinner6:before {
    content: "\e97f";
}